
#creator{
   text-align: center;
   color: grey;
}
hr{
color: red;
}

main{
    margin-left: 25%;
    margin-right: 25%;
}
#sottotitolo{
    text-align: center;
}
#logo{
    margin-left: 40%;
    
    width: 20%;
    height: 50px;
}
.featured{
    padding-left: 10px;
    height: 40px;
    border-color: transparent;
    border-left-width:1px ;
    border-style: solid;
    border-left-color: peru;
}
#focaccia{
    text-align: center;
border-radius: 10px;
}
